<%- include("../partials/header") %>
  <section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

              <% if(allNotifications.length){ %>
                <% allNotifications.forEach(c=>{ %>
                  <% if(c!==null){%>
                    <a href="/campgrounds/<%= c._id %>" >
                      <div class="media p-1 mb-1" style="border: 1px sold grey; background-color: darkgray; border-radius: 0.5rem;">
                        <img style="vertical-align: middle; width: 50px; height: 50px;" class="mr-3" src="<%= c.image%>" alt="<%= c.name %>">
                        <div class="media-body">
                          <h5 class="my-0"><%= c.name %></h5>
                          <%= c.description.substring(0,100); %>  
                          <em style="display: block;"><a href="/user/<%= c.author.id %>"><%= c.author.username %></a> created a new post</em>
                        </div>
                      </div>
                    </a>
                      
                      
                    <% } %>
                  <% }); %>
                <% }else{ %>
                  <h1 class="text-center">You have no Notifications Yet!!</h1>
                <% } %>
            </div>
            </div>
            </div>
            </section>
            



<%- include("../partials/footer") %>